<h1>Listing blues</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blues.each do |blue| %>
  <tr>
    <td><%= blue.title %></td>
    <td><%= blue.description %></td>
    <td><%= link_to 'Show', blue %></td>
    <td><%= link_to 'Edit', edit_blue_path(blue) %></td>
    <td><%= link_to 'Destroy', blue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blue', new_blue_path %>
