<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blue.title %>
</p>

<p>
  <b>Description:</b>
  <%= @blue.description %>
</p>


<%= link_to 'Edit', edit_blue_path(@blue) %> |
<%= link_to 'Back', blues_path %>
