<h1>Listing torsos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @torsos.each do |torso| %>
  <tr>
    <td><%= torso.title %></td>
    <td><%= torso.description %></td>
    <td><%= image_tag torso.image_url %></td>
    <td><%= link_to 'Show', torso %></td>
    <td><%= link_to 'Edit', edit_torso_path(torso) %></td>
    <td><%= link_to 'Destroy', torso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Torso', new_torso_path %>
