<h1>Admin Panel</h1>

<h4>Add More Photos</h4>
<p>New Bloom:  <%= link_to "Add a New Bloom Photo", new_bloom_path %></p>
<p>New Figure:  <%= link_to "Add a New Figure Photo", new_figure_path %></p>
<p>New Vessel:  <%= link_to "Add a New Vessel Photo", new_vessel_path %></p>
<p>New Blue:  <%= link_to "Add a New Blue Photo", new_blue_path %></p>
<p>New Torso:  <%= link_to "Add a New Torso Photo", new_torso_path %></p>
<p>New Abstract:  <%= link_to 'Add a New Painting Photo', new_painting_path %></p>


<h2>About Section</h2>
<% @abouts.each do |about| %>
  <%= link_to 'View About Page', about %>, 
  <%= link_to 'Edit About Page', edit_about_path(about) %>, 
<% end %>


<hr>
<h2>Blooms</h2>

<% @blooms.each do |bloom| %>
    <%= bloom.title %>
    <%= link_to 'Show', bloom %>, 
    <%= link_to 'Edit', edit_bloom_path(bloom) %>, 
    <%= link_to 'Destroy', bloom, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr>
<h2>Blues</h2>
<% @blues.each do |blue| %>
    <%= blue.title %>
    <%= link_to 'Show', blue %>, 
    <%= link_to 'Edit', edit_blue_path(blue) %>, 
    <%= link_to 'Destroy', blue, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<hr>
<h2>Figures</h2>
<% @figures.each do |figure| %>
    <%= figure.title %>
    <%= link_to 'Show', figure %>, 
    <%= link_to 'Edit', edit_figure_path(figure) %>, 
    <%= link_to 'Destroy', figure, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<hr>
<h2>Torsos</h2>
<% @torsos.each do |torso| %>
    <%= torso.title %>
    <%= link_to 'Show', torso %>, 
    <%= link_to 'Edit', edit_torso_path(torso) %>, 
    <%= link_to 'Destroy', torso, method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
<% end %>
<hr>
<h2>Vessels</h2>
<% @vessels.each do |vessel| %>
    <%= vessel.title %>
    <%= link_to 'Show', vessel %>,
    <%= link_to 'Edit', edit_vessel_path(vessel) %>,
    <%= link_to 'Destroy', vessel, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<hr>
<h2>Abstracts</h2>
<br />


<% @paintings.each do |painting| %>
  <tr>
    <td><%= painting.title %></td>
    <td><%= painting.description %></td>
    <td><%= link_to 'Show', painting %></td>
    <td><%= link_to 'Edit', edit_painting_path(painting) %></td>
    <td><%= link_to 'Destroy', painting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

