<p id="notice"><%= notice %></p>
<%= image_tag @figure.image_url %>
<p>
  <b>Title:</b>
  <%= @figure.title %>
</p>

<p>
  <b>Description:</b>
  <%= @figure.description %>
</p>


<%= link_to 'Edit', edit_figure_path(@figure) %> |
<%= link_to 'Back', figures_path %>
