<p id="notice"><%= notice %></p>

<%= image_tag @painting.image_url %>
<p>
  <b>Title:</b>
  <%= @painting.title %>
</p>

<p>
  <b>Description:</b>
  <%= @painting.description %>
</p>


<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
