<h1>Listing blooms</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blooms.each do |bloom| %>
  <tr>
    <td><%= bloom.title %></td>
    <td><%= bloom.description %></td>
    <td><%= link_to 'Show', bloom %></td>
    <td><%= link_to 'Edit', edit_bloom_path(bloom) %></td>
    <td><%= link_to 'Destroy', bloom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bloom', new_bloom_path %>
