<p id="notice"><%= notice %></p>


<%= image_tag @bloom.image_url %>


<hr>
<p>
  <b>Title:</b>
  <%= @bloom.title %>
</p>

<p>
  <b>Description:</b>
  <%= @bloom.description %>
</p>


<%= link_to 'Edit', edit_bloom_path(@bloom) %> |
<%= link_to 'Back', blooms_path %>
