<div class="container" >
  <div class="sixteen columns" id="home">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row" id="home_text">
      <h3><%= link_to "About", abouts_path %></b>
      
    </div>
    <div class="row" id="home_text">
      <h3><%= link_to "Blues", blues_path %>
      |
      <%= link_to "Blooms", blooms_path %>
      |
      <%= link_to "Figures", figures_path %></h3>
    </div>
    <div class="row" id="home_text">
      <h3><%= link_to "Paintings", paintings_path %>
      |
      <%= link_to "Torsos", torsos_path %>
      |
      <%= link_to "Vessels", vessels_path %></h3>

    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    </div>
  </div>
</div>



 

<!-- 
<hr>
<%= link_to "Home Page", homes_path %>
<%= link_to "Admin Page", admins_path %>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>

 -->

