<h1>Bina's Art</h1>
<h2>Website for Bina Shah</h2>


<%= link_to "About", abouts_path %>
<br>
<%= link_to "Blues", blues_path %>
<br>
<%= link_to "Blooms", blooms_path %>
<br>
<%= link_to "Figures", figures_path %>
<br>
<%= link_to "Paintings", paintings_path %>
<br>
<%= link_to "Torsos", torsos_path %>
<br>
<%= link_to "Vessels", vessels_path %>



<hr>
<%= link_to "Home Page", homes_path %>
<%= link_to "Admin Page", admins_path %>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>



