<p id="notice"><%= notice %></p>

<p>
  <b>Subtitle:</b>
  <%= @about.subtitle %>
</p>

<p>
  <b>Description:</b>
  <%= @about.description %>
</p>


<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
