<!DOCTYPE html>
<html>
<head>
  <title>Bina's Art</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="header">
    <div class="sixteen columns">
      <h1 id="header">Bina Shah</h1>
    </div>
  </div>
<%= yield %>
<footer>
  <div class="container">
    <div class="sixteen columns" id="footie">
      <br>
        <%= link_to "Home", homes_path %>
        |
        <%= link_to "About", abouts_path %>
        |
        <%= link_to "Blooms", blooms_path %>
        |
        <%= link_to "Blues", blues_path %>
        |
        <%= link_to "Figures", figures_path %>
        |
        <%= link_to "Abstracts", paintings_path %>
        |
        <%= link_to "Torsos", torsos_path %>
        |
        <%= link_to "Vessels", vessels_path %>
      <br>
      <br>
      <p>&copy;Bina Shah</p>
      <p>Created by <a href="http://www.nehashah.info" target="_blank">Néha Shah</a>
    </div>
  </div>
</footer>
</body>
</html>




